
body {
    font-family: Arial, sans-serif;
    background: 
        linear-gradient(rgba(10, 35, 66, 0.8), rgba(10, 35, 66, 0.8)),
        url('https://images.unsplash.com/photo-1505664194779-8be390b76cf3?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    margin: 0;
}


.giriş-kutusu {
    background-color: white;
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 300px;
}


.login-kutusu h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 0;
}


.input-grubu {
    margin-bottom: 15px;
}

.input-grubu label {
    display: block; 
    margin-bottom: 5px;
    color: #000000;
}


.kullanici-adi input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer; 
}


button:hover {
    background-color: #0056b3;
}